.contact-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 200px;
  background-color: #1a1a1a;
  color: white;
  font-family: 'Montserrat', sans-serif;
  height: 50vh;
  
}

/* Лявата част */
.contact-info { flex: 1;  }
.contact-info h2 { letter-spacing: 2px; font-size: 30px;}
.contact-info h3 { color: #888;  }
.contact-info p {  margin-bottom: 30px; }

/* Дясната част (Картата на формата) */
.contact-form-card {
  flex: 1;
  padding: 10px;
  background: #222; /* Малко по-светло от основния фон */
  max-height: 450px;
  
  /* Ефектът на сянката от картинката */
  box-shadow: 20px 20px 60px #151515, -5px -5px 20px #2a2a2a;
}

.input-group {
   margin-bottom: 25px;
   border-bottom: 1px solid #444;
}

.input-group label {
  display: block;
  color: #666;
  text-transform: uppercase;
  font-size: 10px;
  margin-bottom: 5px;
  
}

.input-group input, .input-group textarea {
  border-bottom: #151515;
  width: 100%;
  color: white;
  background: transparent;
  border: none;
  outline: none;
   /* Маха синята рамка при клик */
}

/* Бутонът */
.send-btn {
  background-color: transparent;
  border: 1px solid #444;
  color: white;
  padding: 10px 25px;
  letter-spacing: 1px;
  font-size: 11px;
  cursor: pointer;
  transition: 0.5s;
}

.send-btn:hover {
  background: white;
  color: black;
}